body {
	background-color: #B3E5EC;
}
.less-paper-blue {
	background-color: #B3E5EC;
}
.activity-box {
	box-shadow: 0px 1.5px 1px 0px #6C7D88;
}

.bg-gradient {
	background: linear-gradient(90deg,rgba(119, 232, 214) 5%, 
		rgba(158, 173, 228)), no-repeat center; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
}
.welcome-text {
	/*font-weight: 550;*/
	font-size: 1.4em;
} 
.blue-btns {
	color: white;
	background-color: #5FC3C3;
	border-color: transparent;
	/*font-weight: bolder;*/
}
.brand-span {
	font-weight: bold;
	display: inline-block;
}
ul.navbar-nav li a:hover{
	color: orange !important;
	/*display: none;*/
}
input {
	background-color: transparent;
	height: 25px;
	border:none;
	border-bottom: 1px solid  #B3E5EC;
	width: 100%;
}

.btn-orange-2:hover {
	color: #fff;
	background-color: #FF6200;
	background-color: #F86200;
	background-color: #F86E00;
	border-color: #FF6200;
}
@keyframes loop_color {
	0%{color: red;}
	50%{color: orange;}
	100%{color: red;}
}
label {
	margin-bottom: 5px;
}
.close-x {
	cursor: pointer;
	top: 3px;
	right: 5%;
	font-size: 1.05em;	
	/*bottom: 15px;*/
	color: red;
	text-shadow: 0 0 3px black;
	/*border: 1px solid white;*/


}
.alert-navy-blue {
	color: #fff;
	background-color: #307597;
	border-color: #c6c8ca;
}
.box-header-text {
	font-size: 1.2em;	
	
}

hr.underline-orange {
	background-color: #FF9800;
	padding: 0;
	margin: 0;
	height: 2px;
}
.thanks-note {
	/*position: absolute;
	top: -47px;
	width: 100%;*/

}
.job-name {
	text-transform: capitalize;
	color: red;
}
.api-output {
	height: 100px;
	width: 200px;
}
.errTag {
	color: red;
	font-size: 0.9em;
	font-weight: normal;
}
.dept-check-header-text {
	letter-spacing: 1px;
	font-size: 1.3em;
}

@keyframes bring_down {
    from {top: -420px;}
    to {top: 0px;}
}
@keyframes go_up {
    from {top: 0px;}
    to {top: -550px;}
}
.modal-x {
	padding:2px 8px;
	cursor: pointer;
	position: absolute;
	right: 0;
	font-weight: bold;
	color: #EE3200 !important;

	/*text-shadow: 0px 0px 1px #c45252;*/

}
@keyframes fade-in {

}
.fade {
	/*transition: f*/
}
.confirm-btn {

}
.delete-record {
	border: 1px solid red;
	border-radius: 50%;
	color: red;
	margin-left: 1rem !important;
	cursor: pointer;
	font-size: 0.8em;
	padding: 1px 5px;
}
.delete-record:hover {
	background-color: red;
	color: white;
}
.modal-x:hover {
	font-weight: normal;

	padding:2px 8px;
	
	background-color: red;
	text-shadow: 2px 2px 4px #333;
	color: white !important;
}

.modal_down {
	animation: bring_down 0.5s;
}
.modal_up {
	/*max-height: 70vh;
	overflow-y: auto;*/
	animation: go_up 0.5s;
}

#display-modal{
	
}

.all-depts td,.all-depts th {
	/*vertical-align: middle;*/
}
.dept-output {
	max-height: 65vh !important;
	overflow-y: auto;
}
.stable-height {
	max-height: 65vh;
	overflow-y: auto;
}
.display-modal-body {
	overflow-x: hidden;
	position: absolute;
	z-index: 1070;
}
#display-modal-btn:hover{
	text-decoration: underline;
	cursor: pointer;
}
#dept-output p {
	margin: 0;
	padding: 0;
}
.record-counter {
	/*border: 1px solid orange;*/
	margin-left: 30px;
	background-color: #FF6200;
	color: white;
	/*border-radius: 50%;*/
	padding: 2px 7px;
}